@(KnowledgeArticleVersion: List[Application.Force.KnowledgeArticleVersion])

@main {

    <h2>Articles</h2>

    <table class="table">
        <tr>
            <th>articleNumber</th>
            <th>title</th>

           
        </tr>
        @KnowledgeArticleVersion.map { KnowledgeArticleVersion =>
            <tr>
               
                <td>@KnowledgeArticleVersion.articleNumber</td>
                <td>@KnowledgeArticleVersion.title</td>

            </tr>
        }
    </table>

}

